* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

/************************
  UTIL COMPONENTS
************************/

.empty-prompt {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20%;
  text-align: center;
  font-size: 20px;
}

.chip {
  font-family: monospace;
  font-size: 1.5em;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.chip.button {
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.chip.button:hover {
  transform: scale(1.05);
}

.chip.button:active {
  transform: scale(1);
}

/************************
  PANE AND MOSAIC STYLE 
************************/

.pane-mosaic {
  background: #48acff;
}

.pane-wrapper {
  padding: 3px;
  border-radius: 10px;
}

.pane {
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.pane-header {
  flex-grow: 0;
  width: 100%;
  padding: 7px;
  border-radius: 5px 5px 0 0;
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: white;
}

.pane-body {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.pane-body pre {
  font-size: x-large;
  text-align: left;
}

@import '../node_modules/react-mosaic-component/react-mosaic-component.css';

@import './app/panes/files-manager/style.css';
@import './app/panes/index-file-view/style.css';
@import './app/panes/object-storage-view/style.css';
@import './app/panes/terminal/style.css';
