* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

.pane-mosaic {
  background-color: white;
}

.pane {
  padding: 7px;
  border-radius: 10px;
  border: 3px solid black;
}

.pane-header {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: white;
}

.pane-body pre {
  font-size: x-large;
  text-align: left;
}

.pane.terminal-pane {
  border-color: #3c4d63;
  background-color: #3c4d63;
  color: white;
}

@import '../node_modules/react-mosaic-component/react-mosaic-component.css';
